/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Reset
# Typography
# Elements
# Forms
# Navigation
	## Links    i.e. other pages
	## Menus    i.e. navbar
# Footer
# Widgets
# Content
    ## Login
    ## Profile
    ## Dashboard
	## Settings
	## ...
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.site-wrapper {
    max-width: 900px;
    margin: auto;
    min-height: 50px;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	## Links    i.e. other pages
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	## Menus    i.e. navbar
--------------------------------------------------------------*/
.site-header {
    background-color: lightblue;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
    background-color: grey;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.site-main {
    background-color: greenyellow;
    height: 100px;
}

/*--------------------------------------------------------------
    ## Login
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    ## Profile
--------------------------------------------------------------*/

/*--------------------------------------------------------------
    ## Dashboard
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	## Settings
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	## ...
--------------------------------------------------------------*/
